@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.Delete {
  padding: 10px 10px; 
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #bd2424;
  display: inline-block;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 40%;
  font-weight: bold;
  border-style: none;
}
  .Delete:hover{    
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
    background-color: #a61d1d;
  }
  

  .Atualiza {
    padding: 10px 10px; 
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #35a6c9;
  display: inline-block;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 40%;
  font-weight: bold;
  border-style: none;
  }
  .Atualiza:hover {    
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
    background-color: #2f91af;
  }

.menu {
    height: 70px;
    background-color: #333; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu .item{
    padding: 15px;
    border-radius: 10px;
}
.menu .item:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
    background-color: #333;
}

.menu a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

body {
    color: #333;
    width: 100%;
    height: 100%; 
    font-family: 'Poppins', sans-serif;
    background-color: #9bb6af;
}


.content {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  
  .border2 {
    border: 2px solid #a3c7be;
    padding: 50px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 40px 2px #829e96;
    width: 100%;
    max-width: 400px;
    border: 1px #333 solid;
    border-radius: 20px;
    background-color: #ececec;
  }
  
  
  .form-group {
    min-width: 280px;
    border-bottom: 2px solid #333;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    margin: 10px 0px 12px -5px;
  }
  
  .label-input {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 80%;
    background-color: #ececec;
    border: none;
    outline: none;
    transform: translateY(-10%);
    color: #333;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  .escolha {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .Salvo,
  .Cancelo {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .Salvo {
    background-color: #333;
  }
  
  .Cancelo {
    background-color: #333;
  }
  
  .h1doform {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    margin-bottom: 10%;
  }
  
  /* Estilos para a tabela e paginação */
  .centralizaessacoisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  
  .tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #ececec;
  }
  
  .tabela th {
    background-color: #333;
    color: #ececec;
  }
  
  .tabela td {
    transition: background-color 0.3s;
  }
  
  .tabela tr:hover td {
    background-color: #ececec;
  }
  
  .pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-controls a {
    color: #333;
    text-decoration: none;
    padding: 8px;
    margin: 0 4px;
    border: 1px solid #ececec;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .pagination-controls a:hover {
    background-color: #ececec;
  }
  
  .pagination-controls .current {
    background-color: #4caf50;
    color: #ececec;
  }