*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}


.menu {
    height: 70px;
    background-color: #333; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.menu .item{
    padding: 15px;
    border-radius: 10px;
}
.menu .item:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
    background-color: #333;
}

.menu a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

body {
    color: #333;
    width: 100%;
    height: 100%; 
    font-family: 'Inter', sans-serif;  
    background-color: #b4d4cc;
}


.content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
  }
  
  .border2 {
    border: 2px solid #a3c7be;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    background-color: #f0efef;
  }
  
  
  .form-group {
    margin-bottom: 40px;
  }
  
  .label-input {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #8b8b8b;
    border-radius: 8px;
    background-color: #f0efef;
  }
  
  .escolha {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .Salvo,
  .Cancelo {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    background-color: #1a1b1a;
  }
  .Cancelo:hover{
    background-color: #302d2d;
    color: #bd2424;
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
  }
  
  .Salvo {
    background-color: #1a1b1a;
  }
  .Salvo:hover {
    background-color: #302d2d;
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
  }

  .Atualiza {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    background-color: #1a1b1a;
  }
  .Atualiza:hover {
    background-color: #302d2d;
    color: #e99414;
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
  }
  
  /* Estilos para o segundo formulário */
  .h1doform {
    text-align: center;
    margin-bottom: 75px;
  }
  
  /* Estilos para a tabela e paginação */
  .centralizaessacoisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  
  .tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .tabela th, .tabela td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .tabela th {
    background-color: #333;
    color: white;
  }
  
  .tabela td {
    transition: background-color 0.3s;
  }
  
  .tabela tr:hover td {
    background-color: #e0e0e0;
  }
  
  .pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-controls a {
    color: #333;
    text-decoration: none;
    padding: 8px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .pagination-controls a:hover {
    background-color: #ddd;
  }
  
  .pagination-controls .current {
    background-color: #4caf50;
    color: white;
  }