@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300&display=swap');

.menu {
    height: 70px;
    background-color: #333; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    
}

.menu .item{
    padding: 15px;
    border-radius: 10px;
}
.menu .item:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
    background-color: #333;
}

.menu a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

body {
    color: #333;
    width: 100%;
    height: 100%; 
    font-family: 'Inter', sans-serif;
    
    background-color: #b4d4cc;
}


.content {
    
    background-color: #b4d4cc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;    
    width: 100%;
    
    
}

.propriedade{
    display: flex;
}

.border{
    background-color: #f3f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #999999;
    border-radius: 10px;
    box-shadow: 1px 5px 20px #72a799;
    width: 450px;
    height: 60%;
    margin-top: 60px;
    
}
.border2{
    background-color: #f3f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #999999;
    border-radius: 10px;
    box-shadow: 1px 5px 20px #72a799;
    width: 450px;
    height: 60%;
    margin-top: 60px;
    
}
h1doform{
    height:50% ;
}

.senha{
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top:2%;
    margin-bottom: 5%;
    width: 70%;
    border: 2px solid #999999;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
}
.senha-gerador {
    color: rgb(85, 85, 85);

}

.tmh_senha{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80%;
}

.tmh_senha input{
    width: 80%;
    margin-right: 3%;
}

.propriedades{
    width: 70%;
    font-size: 20px;
    
    margin-bottom: 6%;
}

.propriedades input{
    width: 20px;
    
}
.propriedade{
    margin-top: 10px;
}
.propriedade p{
    margin-left: 5%;
}

label{
    width: 50%;
}

.form-control{
    width: 50%; 
}
.form-group{
    display: flex;
    margin-top:5%;
    margin-bottom: 5%;
    align-items: center;
}

.escolha{
    margin-top:20% ;
    display: flex;
    justify-content: space-around;
}
.Salvo{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: black; 
    color: #fff; 
    cursor: pointer;
}
.Salvo:hover{
    background-color: rgb(79, 82, 82);
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
}
.Cancelo{
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: black; 
    color: #fff; 
    align-items: center; 
    justify-content: center;
    text-decoration: none;
}
.Cancelo:hover{
    background-color: rgb(79, 82, 82);
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
}

.tabela{
    background-color:#9b9797;
    color: #fff;
    width:70%;
    border-radius: 5px;
    margin-top: 110px;
    margin-bottom: 50px;
}
.centralizaessacoisa{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 5px;
    width: 180px;
    height: 40px;
    background-color: #333; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    
}

button:hover {
    background-color: rgb(79, 82, 82);
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
}
