<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Header>
        <div class="menu">
            <div class="item"><h3><a routerLink="/home"> Home</a></h3></div>
            <div class="item"><h3><a routerLink="/localizacao">Localizacao</a></h3></div>
            <div class="item"><h3><a routerLink="/sobre">Sobre</a></h3></div>
        </div>
    </Header>
    
    <div class="content">
        <div class="border">
    
            <div class="senha">
                <p class="senha-gerador" id="senha_p">sa3239!/'</p>
            </div>
            
            
            <div class="tmh_senha">
                <input type="range" id="num_real" name="peso" min="6" max="16" step="1.0">
    
                <p id="num">12</p>
            </div>
    
            <div class="propriedades">
                <div class="propriedade"><input type="checkbox" class="propriedade1"> <p>Letras Minúsculas</p></div>
                <div class="propriedade"><input type="checkbox" class="propriedade1"><p>Letras Maiúsculas</p></div>
                <div class="propriedade"><input type="checkbox" class="propriedade1"><p>Números</p></div>
                <div class="propriedade"><input type="checkbox" class="propriedade1"><p>Símbolos</p></div>
            </div>
    
            <div class="botao">
                <button onclick="getPassword()">Gerar</button>
            </div>
        </div>
    </div>


    <form [formGroup]="formCliente" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" name="name" id="nome" formControlName="nome">
        </div>
      
        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select class="form-control" name="tipo" id="tipo" formControlName="tipo">
            <option value="1">Pessoa física</option>
            <option value="2">Pessoa jurídica</option>
          </select>
        </div>
      
        <div class="form-group">
          <label>Gênero</label>
      
          <div class="form-check">
            <input class="form-check-input" type="radio" name="genero" id="masculino" [value]="1" formControlName="genero">
            <label class="form-check-label" for="masculino">Masculino</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="genero" id="feminino" [value]="2" formControlName="genero">
            <label class="form-check-label" for="feminino">Feminino</label>
          </div>
        </div>
      
      
        <div class="form-group">
          <label for="observacao">Observação</label>
          <textarea class="form-control" rows="3" name="observacao" id="observacao" formControlName="observacao"></textarea>
        </div>
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="inativo" id="inativo" formControlName="inativo">
          <label class="form-check-label" for="inativo">Inativo</label>
        </div>
      
        <input type="submit" class="btn btn-primary mt-4" value="Salvar">
        <a href="#" class="btn btn-secondary mt-4 ml-2">Cancelar</a>
      
      </form>
    
    <script src="scripts/scripts.js"></script>
    <script src="scripts/tmh_senha.js"></script>
    
</body>
</html>