<!-- Conteúdo do LoginComponent template -->
<section>
  <header>
    <nav class="nav-bar">
      <div class="logo">
        <h1><h1>MetaSite</h1></h1>
      </div>
      <div class="nav-list">
        <!-- ... outras partes do seu código ... -->
      </div>
      <div class="login-button">
        <button><a href="#"><b>Entrar | Cadastrar</b></a></button>
      </div>

      <div class="mobile-menu-icon">
        <button onclick="menuShow()"><img class="icon" src="assets/img/menu_white_36dp.svg" alt=""></button>
      </div>
    </nav>
    <div class="mobile-menu">
      <!-- ... outras partes do seu código ... -->
    </div>
  </header>

  <div class="center">
    <div class="form-box">
      <div class="form-value">
        <form action="">
          <!-- ... conteúdo do formulário ... -->
          <button onclick="cadastrar()">Register</button>
          <div class="register">
            <p>Já possui uma conta cadastrada? <a href="">Log in</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
