
<body>
  <section>
    <Header>
      <div class="menu">
          <div class="item"><h3><a routerLink="/home"> Home</a></h3></div>
          <div class="item"><h3><a routerLink="/login">Login</a></h3></div>
          <div class="item"><h3><a routerLink="/cadastro">Cadastro</a></h3></div>
          <div class="item"><h3><a routerLink="/localizacao">Localizacao</a></h3></div>
          <div class="item"><h3><a routerLink="/sobre">Sobre</a></h3></div>            
      </div>
  </Header>
          <div class="center">
          <div class="form-box">
              <div class="form-value">
                  <form action="">
                      <h2>Login</h2>
                      <div class="inputbox">
                          
                          <input type="email" id="email" >
                          <label for="">Email</label>
                      </div>
                      <div class="inputbox">
                          
                          <input type="password" id="senha" >
                          <label for="">Password</label>
                      </div>
                      <div class="forget">
                          <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                        
                      </div>
                      <button onclick="login()" >Log in</button>
                      <div class="register">
                          <p>Don't have a account <a routerLink="/cadastro">Register</a></p>
                      </div>
                  </form>
              </div>
          </div>
          </div>
  </section>