<body>
    <section>
      <Header>
        <div class="menu">
            <div class="item"><h3><a routerLink="/home"> Home</a></h3></div>
            <div class="item"><h3><a routerLink="/login">Login</a></h3></div>
            <div class="item"><h3><a routerLink="/cadastro">Cadastro</a></h3></div>
            <div class="item"><h3><a routerLink="/localizacao">Localização</a></h3></div>
            <div class="item"><h3><a routerLink="/sobre">Sobre</a></h3></div>            
        </div>
    </Header>
  
            <div class="center">
            <div class="form-box">
                <div class="form-value">
                    <form class="formulario-cadastro" [formGroup]="formUser" (ngSubmit)="onSubmitUser()">
                      <h2 class="h2-formulario-cadastro">Cadastro</h2>
                      <label class="label-cadastro" for="">Email</label>
                        <div class="inputbox">
                            <input type="email" id="email"  formControlName="email">
                        </div>
                        <label  class="label-cadastro" for="">Username</label>
                        <div class="inputbox">  
                          <input type="text" id="text"  formControlName="username" >
                      </div>
                      <label  class="label-cadastro" for="">Password</label>
                        <div class="inputbox">
                            <input type="password" id="senha"  formControlName="passwordUser" >
                        </div>
                        <div class="botao-cadastro">
                        <button type="submit" >Cadastrar</button>
                      </div>
                      <div class="register">
                          <p>Don't have a account <a routerLink="/login">Login</a></p>
                      </div>
                    </form>
                </div>
            </div>
            </div>
    </section>