.menu {
    height: 70px;
    background-color: #252525; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu .item{
    padding: 15px;
    border-radius: 10px;
    margin: 0px 15px;
}
.menu .item:hover{
    transition: 0.3s ease-in-out;
    transform: translateY(-2px);
    background-color: #2199e8;
}

.menu a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}